/* FullCalendar day header (Sunday, Monday, etc.) */
.fc-day-header {
    background-color: #087830;
    color:white; 
    padding: 8px !important;
    border-radius: 4px;  /* Tailwind: border-gray-200 */
}

.fc-day, .fc-widget-content {
    background-color: #DDDEDD !important;  /* Tailwind: bg-gray-100 */
    border: 1px solid #ffffff !important; 

}

.fc-day-number {
    font-weight: normal;  /* Make the date numbers bold */
}





/* Change background color of cells on hover */
/* .fc-day:hover {
    background-color: #e5e7eb;  
} */

#calendar-title {
    font-size: 2rem; /* Adjust as needed */
}

.today-btn {
    width:40px !important;
}


@media (max-width: 600px) {
    .fc-daygrid-day-frame {
       padding: 2px;
       font-size: 12px;
    }

    #calendar-title {
        font-size: 1rem !important;
        display: flex !important;
        text-align: center !important;
        justify-content: center !important;
    }

    .fc-day-header {
        background-color: #087830;
        color:white; 
        padding: 8px !important;
        border-radius: 4px;
        font-size: 12px;

    }

    .today-btn {
        width:20px !important;
    }
    .fc-event .fc-title, 
    .fc-event .fc-time {
      display: none; /* Hide event title and time */
    }
  
    .fc-event {
      height: 20px; /* Adjust the height of the event block */
      text-indent: -9999px; /* Ensure text is completely hidden */
    }
  
    .fc-day-grid-event {
      min-height: 15px; /* Adjust the minimum height of the events */
    }
 }

 .fc-view {
    overflow-x: auto;
 }

 

  

